<template>
  <div class="bar_chart">
    <PChart type="bar" :data="stackedData" :options="stackedOptions" />
  </div>
</template>
<script setup lang="ts">
import { ref } from "vue"

const stackedData = ref({
  labels: ["Januar", "Februar", "März", "April"],
  datasets: [
    {
      type: "bar",
      label: "online",
      backgroundColor: "#42A5F5",
      data: [50, 25, 12, 48, 90, 76, 42],
    },
    {
      type: "bar",
      label: "lokal",
      backgroundColor: "#66BB6A",
      data: [21, 84, 24, 75, 37, 65, 34],
    },
    {
      type: "bar",
      label: "telefonisch",
      backgroundColor: "#FFA726",
      data: [41, 52, 24, 74, 23, 21, 32],
    },
  ],
})

const stackedOptions = ref({
  plugins: {
    tooltips: {
      mode: "index",
      intersect: false,
    },
    legend: {
      labels: {
        color: "#495057",
      },
    },
  },
  scales: {
    x: {
      stacked: true,
      ticks: {
        color: "#495057",
      },
      grid: {
        color: "#ebedef",
      },
    },
    y: {
      stacked: true,
      ticks: {
        color: "#495057",
      },
      grid: {
        color: "#ebedef",
      },
    },
  },
})
</script>
