<template>
  <div class="doughnut_chart">
    <PChart type="doughnut" :data="chartData" :options="lightOptions" />
  </div>
</template>
<script setup lang="ts">
import { ref } from "vue"

const chartData = ref({
  labels: ["aktiv", "inaktiv", "gelöscht"],
  datasets: [
    {
      data: [300, 50, 100],
      backgroundColor: ["#42A5F5", "#66BB6A", "#FFA726"],
      hoverBackgroundColor: ["#64B5F6", "#81C784", "#FFB74D"],
    },
  ],
})

const lightOptions = ref({
  plugins: {
    legend: {
      labels: {
        color: "#495057",
      },
    },
  },
})
</script>
