<template>
  <div class="articlesTable">
    <div class="flex justify-content-between mb-3">
      <PButton icon="pi pi-plus" label="Neuen Artikel hinzufügen" @click="addNewArticle"></PButton>
      <PButton icon="pi pi-refresh" label="Artikel neu laden" @click="loadAllArticles"></PButton>
    </div>

    <!-- TODO: add virtual scroll to test a lot of articles -->
    <PDataTable
      v-show="!articlesLoading"
      v-model:selection="selectedArticles"
      v-model:contextMenuSelection="rightClickedArticle"
      :value="articles"
      selection-mode="multiple"
      data-key="artNo"
      paginator
      sort-field="artNo"
      :sort-order="-1"
      :rows="10"
      :rows-per-page-options="[3, 5, 10, 20]"
      :context-menu="true"
      responsive-layout="scroll"
      @row-contextmenu="onRowContextMenu"
    >
      <template #header> Ausgewählte Artikel: {{ selectedArticles.length }} </template>
      <PColumn sortable field="artNo" header="artNo"></PColumn>
      <PColumn sortable field="artName" header="artName"></PColumn>
      <PColumn field="artType" header="artType"></PColumn>
      <PColumn field="artActive" header="artActive"></PColumn>
    </PDataTable>

    <PContextMenu ref="contextMenu" :model="contextMenuModel" />

    <ArticleFieldsDialog v-model="editingArticle" :article="articleToEdit" @saved="articleEdited" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue"
import type { Article } from "@/types/article"
import ArticleFieldsDialog from "@/components/dialogs/ArticleFieldsDialog.vue"
import { useArticles } from "@/composables/useArticles"
const { articles, articlesLoading, loadAllArticles } = useArticles()

const editingArticle = ref<boolean>(false)
const articleToEdit = ref<Article>()
const selectedArticles = ref<Article[]>([])
const contextMenu = ref()
const rightClickedArticle = ref<Article>()

function addNewArticle(): void {
  articleToEdit.value = {
    artActive: 1,
    artType: 1,
    artName: "",
  }
  editingArticle.value = true
}

function articleEdited(article: Article): void {
  let posOfArticleInArray = -1
  articles.value.find((_article, index) => {
    if (article.artNo === _article.artNo) {
      posOfArticleInArray = index
      return true
    }
  })

  if (posOfArticleInArray < 0) {
    articles.value.push(article)
  } else {
    Object.assign(articles.value[posOfArticleInArray], article)
  }
}

onMounted(() => {
  loadAllArticles()
})

function setArticleToEdit(article: Article | undefined) {
  let newArticleToEdit = JSON.parse(JSON.stringify(article))
  articleToEdit.value = newArticleToEdit
}

function onRowContextMenu(event: any): void {
  contextMenu.value.show(event.originalEvent)
}

const contextMenuModel = [
  {
    label: "Bearbeiten",
    icon: "pi pi-fw pi-pencil",
    command: () => {
      setArticleToEdit(rightClickedArticle.value)
      editingArticle.value = true
    },
  },
]
</script>

<style lang="scss" scoped>
@media (max-width: 960px) {
  ::v-deep(.p-button-label) {
    display: none;
  }

  ::v-deep(.p-button-icon) {
    margin: 0;
  }
}
</style>
