<template>
  <SchedulerCalendar
    v-if="!eventsLoading"
    v-model="events"
    @update:model-value="calendarUpdated"
    @update-event:model-value="eventUpdated"
  ></SchedulerCalendar>
</template>

<script setup lang="ts">
import SchedulerCalendar from "@/components/SchedulerCalendar.vue"
import { ref, onMounted, inject } from "vue"
import { EventsApi } from "@/api/events.api"
import type { Event } from "@/types/event"
import { useEvents } from "@/composables/useEvents"

const { events, eventsLoading, loadAllEvents } = useEvents()

const calendarUpdated = (updatedValue) => {
  // console.log("updatedValue", updatedValue)
}

const eventUpdated = (updatedValue) => {
  // console.log("updatedEvent", updatedValue)
  // updatedValue.evnArticle = { artNo: updatedValue.evnArticle }
  EventsApi.update(updatedValue.evnNo, updatedValue).then(function (response) {
    // console.log("updateResposne", response)
  })
}

const socket = inject("socket")

socket.channel("events").listen("EventCreated", ({ event }) => {
  events.value.push({
    evnDateStartday: event.EVN_DATE_STARTDAY,
    evnArtNo: event.EVN_ART_NO,
    evnNo: event.EVN_NO,
  })
})
socket.channel("events").listen("EventUpdated", ({ event }) => {
  events.value = events.value.map((ev) =>
    ev.evnNo !== event.EVN_NO
      ? ev
      : { evnNo: event.EVN_NO, evnDateStartday: event.EVN_DATE_STARTDAY, evnArtNo: event.EVN_ART_NO }
  )
})
//
// socket.channel("events").listen("EventDeleted", (e) => {
//   console.log("eventsBefore", events.value)
//   console.log("EventDeleted", e)
//   events.value.push({
//     key: e.event.EVN_NO,
//     customData: {
//       title: e.article.ART_NAME,
//       class: "bg-blue-600 text-white",
//     },
//     dates: new Date(e.event.EVN_DATE_STARTDAY),
//   })
// })

onMounted(() => {
  loadAllEvents()
})
</script>
