<template>
  <div class="eventsTable">
    <PToast />

    <div class="flex justify-content-between mb-3">
      <PButton icon="pi pi-plus" label="Neues Event hinzufügen" class="plus_button" @click="addNewEvent"></PButton>
      <PButton icon="pi pi-refresh" label="Events neu laden" @click="loadAllEvents"></PButton>
    </div>

    <PDataTable
      v-if="!eventsLoading"
      v-model:selection="selectedEvents"
      v-model:contextMenuSelection="rightClickedEvent"
      :value="events"
      responsive-layout="scroll"
      selection-mode="multiple"
      data-key="evnNo"
      paginator
      :rows="10"
      :rows-per-page-options="[3, 5, 10, 20, 100]"
      :context-menu="true"
      sort-field="evnNo"
      :sort-order="1"
      @row-contextmenu="onRowContextMenu"
    >
      <template #header> Ausgewählte Events: {{ selectedEvents.length }} </template>
      <PColumn sortable field="evnNo" header="evnNo"></PColumn>
      <PColumn field="evnArtNo" header="evnArtNo"></PColumn>
      <PColumn field="evnDateStartday" header="evnDateStartday"></PColumn>
    </PDataTable>

    <PContextMenu ref="contextMenu" :model="contextMenuModel" />

    <EventFieldsDialog v-model="editingEvent" :event="eventToEdit" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue"
import type { Event } from "@/types/event"
import { useEvents } from "@/composables/useEvents"
import EventFieldsDialog from "@/components/dialogs/EventFieldsDialog.vue"

const { events, eventsLoading, loadAllEvents } = useEvents()

const editingEvent = ref<boolean>(false)
const eventToEdit = ref<Event>()
const selectedEvents = ref<Event[]>([])
const contextMenu = ref()
const rightClickedEvent = ref<Event>()

function addNewEvent(): void {
  eventToEdit.value = {
    evnDateStartday: "",
    evnArtNo: "",
  }
  editingEvent.value = true
}

onMounted(() => {
  loadAllEvents()
})

function setEventToEdit(event: Event | undefined) {
  let newEventToEdit = JSON.parse(JSON.stringify(event))
  eventToEdit.value = newEventToEdit
}

function onRowContextMenu(event: any): void {
  contextMenu.value.show(event.originalEvent)
}

const contextMenuModel = [
  {
    label: "Bearbeiten",
    icon: "pi pi-fw pi-pencil",
    command: () => {
      setEventToEdit(rightClickedEvent.value)
      editingEvent.value = true
    },
  },
]
</script>

<style lang="scss" scoped>
@media (max-width: 960px) {
  ::v-deep(.p-button-label) {
    display: none;
  }

  ::v-deep(.p-button-icon) {
    margin: 0;
  }
}
</style>
