<template>
  <h1 class="text-center">WS Core - Vue 3 Frontend</h1>

  <HomeOverview />

  <div class="charts flex flex-column lg:flex-row">
    <PCard class="flex-1 m-2">
      <template #title>Artikeltypen</template>
      <template #content> <PieChart class="bg-white" /> </template
    ></PCard>

    <PCard class="flex-1 m-2">
      <template #title>Artikelstatus</template>
      <template #content> <DoughnutChart class="bg-white" /> </template
    ></PCard>

    <PCard class="flex-1 m-2">
      <template #title>Verkäufe</template>
      <template #content> <BarChart class="bg-white" /> <LineChart class="bg-white" /> </template
    ></PCard>
  </div>
</template>

<script setup lang="ts">
import PieChart from "../components/charts/PieChart.vue"
import DoughnutChart from "../components/charts/DoughnutChart.vue"
import BarChart from "../components/charts/BarChart.vue"
import LineChart from "../components/charts/LineChart.vue"
import HomeOverview from "../components/HomeOverview.vue"
</script>
