<template>
  <div class="pricesView">
    <div class="flex justify-content-between mb-3">
      <PButton icon="pi pi-plus" label="Preis hinzufügen" @click="addNewPrice"></PButton>
      <PButton icon="pi pi-refresh" label="Preise neu laden" @click="loadAllPrices"></PButton>
    </div>

    <PSplitter style="height: 600px" class="mb-5">
      <PSplitterPanel :size="25">
        <PScrollPanel style="width: 98%; height: 540px">
          <div class="pricesList">
            <div
              v-for="price in filteredPrices"
              :key="price.prcNo"
              class="priceItem cursor-pointer px-3 py-2"
              @click="setPriceToEdit(price)"
            >
              <div class="priceItemHead">
                <div class="priceValue">
                  <template v-if="price.prcPrice"> € {{ price.prcPrice.toFixed(2) }} </template>
                  <template v-else-if="price.prcPercentage"> {{ price.prcPercentage.toFixed(2) }}% </template>
                </div>
                <div class="priceInfo">ID: {{ price.prcNo }}</div>
              </div>

              <div class="priceValidity">{{ price.prcDateFrom }} - {{ price.prcDateTo }}</div>
            </div>
          </div>
        </PScrollPanel>
        <div class="flex pl-2 pr-5 pt-2">
          <PDropdown
            v-model="selectedArticle"
            :show-clear="true"
            class="mb-3 w-full"
            placeholder="Nach Artikel filtern"
            :options="articles"
            option-label="artName"
            @change="selectedArticleChanged"
          />
        </div>
      </PSplitterPanel>
      <PSplitterPanel :size="75" class="flex align-items-center justify-content-center">
        <div v-if="priceToEdit">
          <PriceFields v-model="priceToEdit" />
          <div class="mt-3 flex justify-content-end">
            <PButton
              :disabled="priceSaving"
              label="abbrechen"
              icon="pi pi-times"
              class="p-button-text"
              @click="priceToEdit = null"
            />
            <PButton
              :loading="priceSaving"
              label="Speichern"
              icon="pi pi-check"
              autofocus
              @click="updatePrice(priceToEdit)"
            />
          </div>
        </div>
      </PSplitterPanel>
    </PSplitter>

    <PriceFieldsDialog v-model="addingPrice" :articles="articles" @saved="priceAdded" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue"
import type { Price } from "@/types/price"
import type { Article } from "@/types/article"
import PriceFieldsDialog from "@/components/dialogs/PriceFieldsDialog.vue"
import PriceFields from "@/components/PriceFields.vue"
import { PricesApi } from "@/api/prices.api"
import { computed } from "@vue/reactivity"
import { useArticles } from "@/composables/useArticles"
const { articles, articlesLoading, loadAllArticles } = useArticles()

const addingPrice = ref<boolean>(false)
const priceSaving = ref<boolean>(false)
const priceToEdit = ref<Price>(null)
const selectedArticle = ref<Article>(null)

const pricesLoading = ref<boolean>(false)
const prices = ref<Price[]>([])

function loadAllPrices(): void {
  pricesLoading.value = true
  PricesApi.getAll().then(({ data }) => {
    data.sort((a, b) => a.prcNo - b.prcNo)
    prices.value = data
    pricesLoading.value = false
  })
}

const filteredPrices = computed<Price[]>(() => {
  return prices.value.filter((_price) => (selectedArticle.value ? selectedArticle.value.artNo === _price.prcArt : true))
})

function addNewPrice(): void {
  addingPrice.value = true
}

function selectedArticleChanged({ originalEvent, value }): void {
  if (priceToEdit.value.prcArt !== value.artNo) {
    priceToEdit.value = null
  }
}

function priceAdded(price: Price): void {
  console.log("addedPrice", price)
  prices.value.push(price)
}

onMounted(() => {
  loadAllArticles()
  loadAllPrices()
})

function setPriceToEdit(price: Price | undefined) {
  let newPriceToEdit = JSON.parse(JSON.stringify(price))
  console.log("setPriceToEdit", newPriceToEdit)
  priceToEdit.value = newPriceToEdit
}

function updatePrice(price: Price) {
  priceSaving.value = true
  // INFO: Java
  // prcArt wird zu prcArticle
  // muss hier den integer von prcArticle auf ein Objekt mit dem Key "artNo" umbauen, damit es gespeichert werden kann
  // hier sollte es eigentlich keine unterschiede geben, wie das JSON ausgeliefert und wieder erwartet wird
  // price.prcArticle = {
  //   artNo: price.prcArt,
  // }
  PricesApi.update(price.prcNo, price)
    .then(() => {
      loadAllPrices()
      priceToEdit.value = null
      priceSaving.value = false
    })
    .catch(() => {
      priceSaving.value = false
    })
}
</script>
<style lang="scss">
.pricesList {
  padding: 0 10px;
}
.priceItem {
  position: relative;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.priceItemHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priceValue {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.priceInfo {
  opacity: 0.5;
}
</style>

<style lang="scss" scoped>
@media (max-width: 960px) {
  ::v-deep(.p-button-label) {
    display: none;
  }

  ::v-deep(.p-button-icon) {
    margin: 0;
  }
}
</style>
