<template>
  <div class="salesTable">
    <PToast />

    <div class="flex justify-content-between mb-3">
      <PButton icon="pi pi-plus" label="Neues Sale hinzufügen" @click="addNewSale"></PButton>
      <PButton icon="pi pi-refresh" label="Sales neu laden" @click="loadAllSales"></PButton>
    </div>

    <PDataTable
      v-if="!salesLoading"
      v-model:selection="selectedSales"
      v-model:contextMenuSelection="rightClickedSale"
      :value="sales"
      responsive-layout="scroll"
      selection-mode="multiple"
      data-key="salNo"
      paginator
      :rows="10"
      :rows-per-page-options="[3, 5, 10, 20, 100]"
      :context-menu="true"
      sort-field="salNo"
      :sort-order="1"
      @row-contextmenu="onRowContextMenu"
    >
      <template #header> Ausgewählte Sales: {{ selectedSales.length }} </template>
      <PColumn sortable field="salNo" header="Sale ID"></PColumn>
      <PColumn field="salArtNo" header="Artikel ID"></PColumn>
      <PColumn field="salPrcNo" header="Preis ID"></PColumn>
      <PColumn field="salType" header="Verkaufstyp"></PColumn>
      <PColumn field="salDateFrom" header="Start"></PColumn>
      <PColumn field="salDateTo" header="Ende"></PColumn>
      <PColumn field="salAdditionalProperties" header="zusätzliche Informationen"></PColumn>
    </PDataTable>

    <PContextMenu ref="contextMenu" :model="contextMenuModel" />

    <SaleFieldsDialog v-model="editingSale" :sale="saleToEdit" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue"
import type { Sale } from "@/types/sale"
import { useSales } from "@/composables/useSales"
import SaleFieldsDialog from "@/components/dialogs/SaleFieldsDialog.vue"

const { sales, salesLoading, loadAllSales } = useSales()

const editingSale = ref<boolean>(false)
const saleToEdit = ref<Sale>()
const selectedSales = ref<Sale[]>([])
const contextMenu = ref()
const rightClickedSale = ref<Sale>()

function addNewSale(): void {
  saleToEdit.value = {
    salArtNo: "",
    salPrcNo: "",
    salType: "",
    salDateFrom: "",
    salDateTo: "",
    salAdditionalProperties: {},
  }
  editingSale.value = true
}

onMounted(() => {
  loadAllSales()
})

function setSaleToEdit(sale: Sale | undefined) {
  let newSaleToEdit = JSON.parse(JSON.stringify(sale))
  saleToEdit.value = newSaleToEdit
}

function onRowContextMenu(sale: any): void {
  contextMenu.value.show(sale.originalSale)
}

const contextMenuModel = [
  {
    label: "Bearbeiten",
    icon: "pi pi-fw pi-pencil",
    command: () => {
      setSaleToEdit(rightClickedSale.value)
      editingSale.value = true
    },
  },
]
</script>

<style lang="scss" scoped>
@media (max-width: 960px) {
  ::v-deep(.p-button-label) {
    display: none;
  }

  ::v-deep(.p-button-icon) {
    margin: 0;
  }
}
</style>
