<template>
  <SchedulerOverview
    v-if="!eventsLoading && !articlesLoading"
    v-model="events"
    :articles="articles"
    @update:model-value="calendarUpdated"
    @updateEvent:model-value="eventUpdated"
    >Test</SchedulerOverview
  >
</template>

<script setup lang="ts">
import SchedulerOverview from "@/components/SchedulerOverview.vue"
import { ref, onMounted } from "vue"
import { EventsApi } from "@/api/events.api"
import type { Event } from "@/types/event"
import type { Article } from "@/types/article"
import { useEvents } from "@/composables/useEvents"
import { useArticles } from "@/composables/useArticles"

const { events, eventsLoading, loadAllEvents } = useEvents()

const { articles, articlesLoading, loadAllArticles } = useArticles()

const calendarUpdated = (updatedValue) => {
  console.log("updatedValue", updatedValue)
}

const eventUpdated = (updatedValue) => {
  console.log("updatedEvent", updatedValue)
  EventsApi.update(updatedValue.evnNo, updatedValue).then(function (response) {
    console.log("updateResposne", response)
  })
}

onMounted(() => {
  loadAllEvents()
  loadAllArticles()
})
</script>
