<template>
  <div class="surface-ground py-5 m-2">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <a href="/articles">
          <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
              <div>
                <span class="block text-500 font-medium mb-3">Artikel</span>
                <div class="text-900 font-medium text-xl">{{ articles.length }}</div>
              </div>
              <div
                class="flex align-items-center justify-content-center bg-blue-100 border-round"
                style="width: 2.5rem; height: 2.5rem"
              >
                <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
              </div>
            </div>
            <span class="text-green-500 font-medium">2 neue </span>
            <span class="text-500">seit dem letzten Besuch</span>
          </div>
        </a>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <a href="/prices">
          <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
              <div>
                <span class="block text-500 font-medium mb-3">Preise</span>
                <div class="text-900 font-medium text-xl">{{ prices.length }}</div>
              </div>
              <div
                class="flex align-items-center justify-content-center bg-orange-100 border-round"
                style="width: 2.5rem; height: 2.5rem"
              >
                <i class="pi pi-dollar text-orange-500 text-xl"></i>
              </div>
            </div>
            <span class="text-green-500 font-medium">2 </span>
            <span class="text-500">veraltete Preise</span>
          </div>
        </a>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <a href="/sales">
          <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
              <div>
                <span class="block text-500 font-medium mb-3">Verkäufe</span>
                <div class="text-900 font-medium text-xl">{{ sales.length }}</div>
              </div>
              <div
                class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                style="width: 2.5rem; height: 2.5rem"
              >
                <i class="pi pi-shopping-cart text-cyan-500 text-xl"></i>
              </div>
            </div>
            <span class="text-green-500 font-medium">+59% </span>
            <span class="text-500">neue Verkäufe</span>
          </div>
        </a>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <a href="/events">
          <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
              <div>
                <span class="block text-500 font-medium mb-3">Events</span>
                <div class="text-900 font-medium text-xl">{{ events.length }}</div>
              </div>
              <div
                class="flex align-items-center justify-content-center bg-purple-100 border-round"
                style="width: 2.5rem; height: 2.5rem"
              >
                <i class="pi pi-calendar text-purple-500 text-xl"></i>
              </div>
            </div>
            <span class="text-green-500 font-medium">3 </span>
            <span class="text-500">bevorstehende Events</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted } from "vue"
import { useArticles } from "@/composables/useArticles"
import { usePrices } from "@/composables/usePrices"
import { useEvents } from "@/composables/useEvents"
import { useSales } from "@/composables/useSales"

const { articles, articlesLoading, loadAllArticles } = useArticles()
const { prices, pricesLoading, loadAllPrices } = usePrices()
const { events, eventsLoading, loadAllEvents } = useEvents()
const { sales, salesLoading, loadAllSales } = useSales()

const averageSale = 0

onMounted(() => {
  loadAllArticles()
  loadAllPrices()
  loadAllEvents()
  loadAllSales()
})
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
</style>
