<template>
  <PMenubar :model="menuItems" class="flex flex-wrap-reverse">
    <template #start>
      <router-link to="/">
        <img alt="Vue logo" src="../assets/logo_white.svg" height="40" class="mr-2" />
      </router-link>
    </template>
    <template #end>
      <PInputText placeholder="Search" type="text" style="width: 150px" />
    </template>
  </PMenubar>
</template>
<script setup lang="ts">
import { ref } from "vue"

const menuItems = ref([
  {
    label: "Tabellen",
    icon: "pi pi-fw pi-table",
    items: [
      {
        label: "Artikel",
        icon: "pi pi-fw pi-shopping-cart",
        to: "/articles",
      },
      {
        label: "Preise",
        icon: "pi pi-fw pi-dollar",
        to: "/prices",
      },
      {
        label: "Events",
        icon: "pi pi-fw pi-calendar",
        to: "/events",
      },
      {
        label: "Sales",
        icon: "pi pi-fw pi-shopping-cart",
        to: "/sales",
      },
    ],
  },
  {
    label: "Events",
    icon: "pi pi-fw pi-calendar",
    items: [
      {
        label: "Kalender",
        icon: "pi pi-fw pi-calendar",
        to: "/events/calendar",
      },
      {
        label: "Planung",
        icon: "pi pi-fw pi-calendar",
        to: "/events/scheduler",
      },
    ],
  },
])
</script>
