<template>
  <div v-if="priceToEdit" class="flex flex-wrap">
    <div class="p-1">
      <h5>Preis</h5>
      <PInputNumber v-model="priceToEdit.prcPrice" :use-grouping="false" suffix=" €" />
    </div>
    <div class="p-1">
      <h5>Preis in Prozent</h5>
      <PInputNumber v-model="priceToEdit.prcPercentage" suffix=" %" :min="0" :max="100" />
    </div>
    <div class="p-1">
      <h5>Preis von</h5>
      <PCalendar
        v-model="priceToEdit.prcDateFrom"
        :min-date="new Date()"
        date-format="yy-mm-dd"
        :manual-input="false"
        @date-select="priceDateFromSelected"
      />
    </div>
    <div class="p-1">
      <h5>Preis bis</h5>
      <PCalendar
        v-model="priceToEdit.prcDateTo"
        :min-date="new Date()"
        :max-date="maxPriceDateTo"
        date-format="yy-mm-dd"
        :manual-input="false"
        @date-select="priceDateToSelected"
      />
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, type PropType, onMounted, watch } from "vue"
import type { Price } from "@/types/price"
import { computed } from "@vue/reactivity"

const props = defineProps({
  modelValue: {
    type: Object as PropType<Price>,
    required: true,
    default() {
      return {}
    },
  },
})
const emit = defineEmits(["update:modelValue"])

const priceToEdit = ref<Price>(null)

onMounted(() => {
  priceToEdit.value = props.modelValue
})

watch(
  priceToEdit,
  (newPrice) => {
    emit("update:modelValue", newPrice)
  },
  { deep: true }
)

watch(
  () => props.modelValue,
  () => {
    console.log("update from props.modelValue")
    priceToEdit.value = props.modelValue
  },
  { deep: true }
)

// max date to select is june 30th in 2 years from now
const currentYear = new Date().getFullYear()
const maxPriceDateTo = new Date(currentYear + 2, 5, 30)

function priceDateFromSelected(date) {
  if (date > new Date(priceToEdit.value.prcDateTo)) {
    priceToEdit.value.prcDateTo = date
  }
  priceToEdit.value.prcDateFrom = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
}
function priceDateToSelected(date) {
  if (date < new Date(priceToEdit.value.prcDateFrom)) {
    priceToEdit.value.prcDateFrom = date
  }
  priceToEdit.value.prcDateTo = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
}
</script>
