<template>
  <div class="calendar_container">
    <FullCalendar ref="fullCalendar" :options="options" />
  </div>
  <div>
    <PCard v-if="eventClicked">
      <template #content>
        <div class="flex flex-column lg:flex-row">
          <div class="mx-3">
            <h5 class="m-1">ID</h5>
            <PInputText v-model="eventClicked.evnNo" type="text" disabled />
          </div>
          <div class="mx-3">
            <h5 class="m-1">Artikel</h5>
            <PInputText v-model="eventClicked.evnArtNo" type="text" disabled />
          </div>
          <div class="mx-3">
            <h5 class="m-1">Start</h5>
            <PInputText v-model="eventClicked.evnDateStartday" type="text" disabled />
          </div>
          <div class="mx-3">
            <h5 class="m-1">Ende</h5>
            <PInputText v-model="eventClicked.evnEndTime" type="text" disabled />
          </div>
        </div>
      </template>
    </PCard>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive, watch, type PropType } from "vue"
import type { Event } from "@/types/event"
import { useEvents } from "@/composables/useEvents"
import "@fullcalendar/core/vdom" // solves problem with Vite
import FullCalendar from "@fullcalendar/vue3"
import dayGridPlugin from "@fullcalendar/daygrid"
import timeGridPlugin from "@fullcalendar/timegrid"
import listPlugin from "@fullcalendar/list"
import interactionPlugin from "@fullcalendar/interaction"
import resourceTimelinePlugin from "@fullcalendar/resource-timeline"
import allLocales from "@fullcalendar/core/locales-all"

const { events, loadAllCalendarEvents, calendarEvents, loadCalendarResources, calendarResources } = useEvents()

const emit = defineEmits(["update:modelValue", "updateEvent:modelValue"])
const props = defineProps({
  modelValue: {
    type: Array as PropType<Event[]>,
    required: true,
    default() {
      return []
    },
  },
})

watch(
  () => props.modelValue,
  (newVal: Event[]) => {
    console.log("updated calendar events prop", newVal)
    setCalendarEventsFromProp()
  },
  {
    deep: true,
  }
)

onMounted(() => {
  setCalendarEventsFromProp()
})

const eventsInCalendar = ref<any>([])
const eventClicked = ref<Event>()

const fullCalendar = ref(null)

const setCalendarEventsFromProp = () => {
  console.log("fullCalendar.value.getApi()", fullCalendar.value.getApi())

  eventsInCalendar.value = props.modelValue.map((event: Event) => {
    return {
      id: event.evnNo,
      extendedProps: {
        evnArtNo: event.evnArtNo,
      },
      title: `Event: ${event.evnNo}, Artikel: ${event.evnArtNo}`,
      start: event.evnStartTime ? event.evnDateStartday + "T" + event.evnStartTime : event.evnDateStartday,
      end: event.evnEndTime ? event.evnDateStartday + "T" + event.evnEndTime : null,
    }
  })
}

const options = reactive({
  schedulerLicenseKey: "CC-Attribution-NonCommercial-NoDerivatives",
  plugins: [dayGridPlugin, timeGridPlugin, listPlugin, interactionPlugin, resourceTimelinePlugin],
  initialView: "dayGridMonth",
  headerToolbar: {
    left: "dayGridMonth dayGridWeek timeGridDay listMonth",
    center: "title",
    right: "prev next today",
  },
  editable: true,
  slotDuration: "00:05:00",
  scrollTime: "08:00",
  firstDay: 1,
  locales: allLocales,
  locale: "de",
  resources: calendarResources,
  events: eventsInCalendar,
  height: "auto",
  eventChange: ({ event, oldEvent }) => {
    let newEvent = event.toPlainObject()
    let indexOfCalendarEventBefore = -1
    eventsInCalendar.value.find(({ id }, i) => {
      if (parseInt(oldEvent.id) === id) {
        indexOfCalendarEventBefore = i
        console.log("indexOfCalendarEventBefore", indexOfCalendarEventBefore)
        return true
      }
    })
    if (indexOfCalendarEventBefore > -1) {
      Object.assign(eventsInCalendar.value[indexOfCalendarEventBefore], {
        start: newEvent.start,
      })
    }
    emit("updateEvent:modelValue", {
      evnNo: event.id,
      evnArtNo: newEvent.extendedProps.evnArtNo,
      evnDateStartday: newEvent.start,
    })
  },
  businessHours: {
    daysOfWeek: [1, 2, 3, 4, 5],
    startTime: "08:00",
    endTime: "18:00",
  },
  eventClick: ({ event }) => {
    eventClicked.value = {
      evnNo: event.id,
      evnDateStartday: event.startStr,
      evnArtNo: event.extendedProps.evnArtNo,
      evnEndTime: event.endStr,
    }
  },
})
</script>

<style lang="scss">
.p-8 {
  padding: 0;
}

@media (max-width: 767px) {
  .calendar_container {
    .fc .fc-toolbar.fc-header-toolbar {
      flex-direction: column;

      .fc-toolbar-chunk {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}
</style>
