<template>
  <div class="flex flex-column md:flex-row">
    <FullCalendar ref="schedulerCalendar" class="flex-grow-1" :options="options" />
    <div class="flex flex-column md:pl-5">
      <PCalendar v-model="datePicked" :inline="true" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive, watch, type PropType } from "vue"
import { useEvents } from "@/composables/useEvents"
import { useArticles } from "@/composables/useArticles"
import "@fullcalendar/core/vdom" // solves problem with Vite
import FullCalendar from "@fullcalendar/vue3"
import dayGridPlugin from "@fullcalendar/daygrid"
import timeGridPlugin from "@fullcalendar/timegrid"
import listPlugin from "@fullcalendar/list"
import interactionPlugin from "@fullcalendar/interaction"
import resourceTimelinePlugin from "@fullcalendar/resource-timeline"
import allLocales from "@fullcalendar/core/locales-all"

const emit = defineEmits(["update:modelValue", "updateEvent:modelValue"])

const props = defineProps({
  modelValue: {
    type: Array as PropType<Event[]>,
    required: true,
    default() {
      return []
    },
  },
  articles: {
    type: Array as PropType<Article[]>,
    required: true,
    default() {
      return []
    },
  },
})

const datePicked = ref()
const schedulerCalendar = ref(null)

watch(
  datePicked,
  (date) => {
    schedulerCalendar.value.getApi().gotoDate(date)
  },
  { deep: true }
)

const { loadAllEvents, eventsLoading, events, calendarEvents } = useEvents()

onMounted(() => {
  loadAllEvents()
  setCalendarEventsFromProp()
  setResourcesFromProp()
  console.log("Res", resourcesInCalendar)
})

const eventsInCalendar = ref<any>([])
const resourcesInCalendar = ref<any>([])
const eventClicked = ref<Event>()

const setCalendarEventsFromProp = () => {
  eventsInCalendar.value = props.modelValue.map((event: Event) => {
    return {
      id: event.evnNo,
      title: event.evnArtNo,
      resourceId: event.evnArtNo,
      start: event.evnStartTime ? event.evnDateStartday + "T" + event.evnStartTime : event.evnDateStartday,
      end: event.evnEndTime ? event.evnDateStartday + "T" + event.evnEndTime : null,
    }
  })
}

const setResourcesFromProp = () => {
  resourcesInCalendar.value = props.articles.map((res: Article) => {
    return {
      id: res.artNo,
      title: res.artName,
    }
  })
}

const options = reactive({
  schedulerLicenseKey: "CC-Attribution-NonCommercial-NoDerivatives",
  plugins: [dayGridPlugin, timeGridPlugin, listPlugin, interactionPlugin, resourceTimelinePlugin],
  initialView: "resourceTimeline",
  headerToolbar: {
    left: "",
    center: "title",
    right: "prev next today",
  },
  editable: true,
  slotDuration: "00:05:00",
  scrollTime: "08:00",
  firstDay: 1,
  locales: allLocales,
  locale: "de",
  resources: resourcesInCalendar,
  events: eventsInCalendar,
  eventChange: (arg) => {
    console.log("getRes", arg.event.getResources())
    arg.oldEvent
  },
  resourceChange: (arg) => {
    console.log("reschange", arg)
  },
})
</script>
