<template>
  <div>
    <NavigationBar />
    <div class="p-1 pt-5 md:p-8">
      <router-view />
    </div>
  </div>
</template>

<script setup lang="ts">
import NavigationBar from "@/components/NavigationBar.vue"
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #ffffff;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
