<template>
  <PDialog
    v-model:visible="displayDialog"
    :header="articleInDialog.artNo ? `Artikel bearbeiten (ID: ${articleInDialog.artNo})` : `Artikel hinzufügen`"
    @hide="$emit('hide')"
  >
    <div class="flex flex-column md:flex-row">
      <div class="p-1">
        <h5>Artikelname</h5>
        <PInputText id="articleName" v-model="articleInDialog.artName" type="text" />
      </div>
      <div class="p-1">
        <h5>Artikeltyp</h5>
        <PDropdown
          v-model="articleInDialog.artType"
          :options="artTypes"
          option-label="label"
          option-value="value"
          placeholder="Select article type"
        />
      </div>
      <div class="p-1">
        <h5>Artikel Status</h5>
        <PSelectButton
          v-model="articleInDialog.artActive"
          :options="artStates"
          option-label="label"
          option-value="value"
        />
      </div>
    </div>

    <h5 class="flex align-items-center">
      Artikel Informationen
      <PButton
        class="ml-3 p-button-sm"
        label="Hinzufügen"
        icon="pi pi-plus"
        @click="addArticleInfo(articleInDialog)"
      ></PButton>
    </h5>

    <div v-for="(info, i) in articleInDialog.artInformation" :key="i">
      <PButton
        class="mt-2 z-5"
        style="float: right"
        label=""
        icon="pi pi-trash"
        @click="removeArticleInfo(articleInDialog, i)"
      ></PButton>
      <PTabView>
        <PTabPanel v-for="lang in languages" :key="lang" :header="lang.toUpperCase()">
          <h5>Überschrift</h5>
          <PInputText v-model="info.headline[lang]" />

          <h5>Text</h5>
          <PEditor v-model="info.text[lang]" editor-style="height: 100px">
            <template #toolbar>
              <span class="ql-formats">
                <button v-tooltip.bottom="'Bold'" class="ql-bold"></button>
                <button v-tooltip.bottom="'Italic'" class="ql-italic"></button>
                <button v-tooltip.bottom="'Underline'" class="ql-underline"></button>
              </span>
            </template>
          </PEditor>
        </PTabPanel>
      </PTabView>
    </div>

    <template #footer>
      <PButton
        :disabled="articleSaving"
        label="abbrechen"
        icon="pi pi-times"
        class="p-button-text"
        @click="displayDialog = false"
      />
      <PButton :loading="articleSaving" label="Speichern" icon="pi pi-check" autofocus @click="saveArticle" />
    </template>
  </PDialog>
</template>

<script setup lang="ts">
import { ref, type PropType, onMounted } from "vue"
import type { Article } from "@/types/article"
import { ArticlesApi } from "@/api/articles.api"
import { computed } from "@vue/reactivity"

const emit = defineEmits(["saved", "update:modelValue", "hide", "update:article", "added"])

document.addEventListener("keyup", (event) => {
  if (event.key === "Enter") {
    saveArticle()
  }
})

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
    default: false,
  },
  noCloseOnSave: {
    type: Boolean,
    default: false,
  },
  article: {
    type: Object as PropType<Article>,
    default() {
      return {}
    },
  },
})

onMounted(() => {
  if (!articleInDialog.value.artInformation) {
    articleInDialog.value.artInformation = []
  }
})

function addArticleInfo(art): void {
  if (!art.artInformation) {
    art.artInformation = []
  }
  art.artInformation.push({
    text: {
      de: "",
    },
    headline: {
      de: "",
    },
  })
}

function removeArticleInfo(article, index): void {
  article.artInformation.splice(index, 1)
}

const articleInDialog = computed<Article>({
  get() {
    return props.article
  },
  set(value) {
    emit("update:article", value)
  },
})
const displayDialog = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(value) {
    emit("update:modelValue", value)
  },
})

// TODO: get these constants from api when available
const artStates = ref([
  { label: "inactive", value: 0 },
  { label: "active", value: 1 },
  { label: "deleted", value: 2 },
])
const artTypes = ref([
  { label: "Kurs", value: 1 },
  { label: "Verkauf", value: 2 },
  { label: "Verleih", value: 3 },
])
const languages = ref(["de", "en", "nl", "cs", "da"])

const articleSaving = ref<boolean>(false)
function saveArticle(): void {
  articleSaving.value = true
  if (props.article.artNo) {
    ArticlesApi.update(props.article.artNo, props.article).then(({ data }) => {
      emit("saved", data)
      articleSaving.value = false
      if (!props.noCloseOnSave) {
        displayDialog.value = false
      }
    })
  } else {
    ArticlesApi.create(props.article).then(({ data }) => {
      emit("saved", data)
      emit("added", data)
      articleSaving.value = false
      if (!props.noCloseOnSave) {
        displayDialog.value = false
      }
    })
  }
}
</script>
