<template>
  <PDialog
    v-model:visible="displayDialog"
    :header="eventInDialog.evnNo ? `Event Information (ID: ${eventInDialog.evnNo})` : `Event hinzufügen`"
    @hide="$emit('hide')"
  >
    <div class="flex flex-column md:flex-row">
      <div class="p-1">
        <h5>Artikel</h5>
        <PDropdown
          v-model="eventInDialog.evnArtNo"
          :options="articles"
          option-label="artName"
          option-value="artNo"
          placeholder="Artikel wählen"
        />
      </div>
      <div class="p-1">
        <h5>Datum</h5>
        <PCalendar v-model="eventInDialog.evnDateStartday" date-format="yy-mm-dd" />
      </div>
      <div class="p-1">
        <h5>Start</h5>
        <PInputText id="evnStartTime" v-model="eventInDialog.evnStartTime" type="text" />
      </div>
      <div class="p-1">
        <h5>Ende</h5>
        <PInputText id="evnEndTime" v-model="eventInDialog.evnEndTime" type="text" />
      </div>
    </div>

    <template #footer>
      <PButton
        :disabled="eventSaving"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        @click="displayDialog = false"
      />
      <PButton :loading="eventSaving" label="Speichern" icon="pi pi-check" autofocus @click="save(event)" />
    </template>
  </PDialog>
</template>

<script setup lang="ts">
import { ref, onMounted, type PropType } from "vue"
import type { Event } from "@/types/event"
import { computed } from "@vue/reactivity"
import { useArticles } from "@/composables/useArticles"
import { useEvents } from "@/composables/useEvents"

const emit = defineEmits(["saved", "update:modelValue", "hide", "update:event"])
const { articles, loadAllArticles } = useArticles()
const { eventSaving, saveEvent } = useEvents()

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
    default: false,
  },
  noCloseOnSave: {
    type: Boolean,
    default: false,
  },
  event: {
    type: Object as PropType<Event>,
    default() {
      return {}
    },
  },
})

onMounted(() => {
  if (!eventInDialog.value.evnNo) {
    loadAllArticles()
  }
})

const eventInDialog = computed<Event>({
  get() {
    return props.event
  },
  set(value) {
    emit("update:event", value)
  },
})
const displayDialog = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(value) {
    emit("update:modelValue", value)
  },
})

function save(event: Event): void {
  let date = new Date(event.evnDateStartday)
  event.evnDateStartday = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
  event.evnStartTime = event.evnStartTime ? event.evnStartTime + ":00" : event.evnStartTime
  event.evnEndTime = event.evnEndTime ? event.evnEndTime + ":00" : event.evnEndTime
  saveEvent(event)
  if (!props.noCloseOnSave) {
    displayDialog.value = false
  }
}
</script>
<style lang="scss" scoped>
.p-dropdown {
  width: 10rem;
}
</style>
