<template>
  <PDialog v-model:visible="displayDialog" header="Preis hinzufügen" @hide="$emit('hide')">
    <PDropdown
      v-model="newPrice.prcArt"
      class="mb-3"
      placeholder="Artikel auswählen"
      :options="articles"
      option-label="artName"
    />
    <PriceFields v-model="newPrice" />
    <template #footer>
      <PButton
        :disabled="priceSaving"
        label="abbrechen"
        icon="pi pi-times"
        class="p-button-text"
        @click="displayDialog = false"
      />
      <PButton :loading="priceSaving" label="Speichern" icon="pi pi-check" autofocus @click="savePrice" />
    </template>
  </PDialog>
</template>

<script setup lang="ts">
import { ref, type PropType } from "vue"
import type { Price } from "@/types/price"
import { computed } from "@vue/reactivity"
import PriceFields from "@/components/PriceFields.vue"
import { PricesApi } from "@/api/prices.api"

const emit = defineEmits(["saved", "update:modelValue", "hide", "added"])

document.addEventListener("keyup", (event) => {
  if (event.key === "Enter") {
    savePrice()
  }
})

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
    default: false,
  },
  noCloseOnSave: {
    type: Boolean,
    default: false,
  },
  articles: {
    type: Array,
    required: true,
    default() {
      return []
    },
  },
})

const newPrice = ref<Price>({
  prcArt: null,
  prcDateFrom: new Date(),
  prcDateTo: new Date(),
  prcPrice: 0,
  prcPercentage: 0,
})

const displayDialog = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(value) {
    emit("update:modelValue", value)
  },
})

const priceSaving = ref<boolean>(false)

function savePrice() {
  priceSaving.value = true
  PricesApi.create(newPrice.value)
    .then(({ data }) => {
      // bekomme hier ein anderes format von price zurück als über /api/prices/
      // hier wird 1:1 das zurückgegeben was ich schicke + prcNo obwohl in der DB was anderes gespeichert wird
      // Datum wird in DB korrigiert und kommt über /api/articles/ richtig zurück (mit beachteter Zeitzone)
      emit("saved", data)
      emit("added", data)
      priceSaving.value = false
      if (!props.noCloseOnSave) {
        displayDialog.value = false
      }
    })
    .catch(() => {
      alert("PRICE NOT SAVEABLE")
      priceSaving.value = false
    })
}
</script>
