<template>
  <PDialog
    v-model:visible="displayDialog"
    :header="saleInDialog.salNo ? `Sale Information (ID: ${saleInDialog.salNo})` : `Sale hinzufügen`"
    @hide="$emit('hide')"
  >
    <div class="flex flex-column md:flex-row">
      <div class="p-1">
        <h5>Artikel</h5>
        <PDropdown
          v-model="saleInDialog.salArtNo"
          :options="articles"
          option-label="artName"
          option-value="artNo"
          placeholder="Artikel wählen"
        />
      </div>
      <div class="p-1">
        <h5>Preis</h5>
        <PDropdown
          v-model="saleInDialog.salPrcNo"
          :options="prices"
          option-label="prcPrice"
          option-value="prcNo"
          placeholder="Preis wählen"
        />
      </div>
      <div class="p-1">
        <h5>Verkaufstyp</h5>
        <PInputText id="salType" v-model="saleInDialog.salType" type="text" />
      </div>
      <div class="p-1">
        <h5>Start</h5>
        <PCalendar v-model="saleInDialog.salDateFrom" date-format="yy-mm-dd" />
      </div>
      <div class="p-1">
        <h5>Ende</h5>
        <PCalendar v-model="saleInDialog.salDateTo" date-format="yy-mm-dd" />
      </div>
    </div>

    <template #footer>
      <PButton
        :disabled="saleSaving"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        @click="displayDialog = false"
      />
      <PButton :loading="saleSaving" label="Speichern" icon="pi pi-check" autofocus @click="save(sale)" />
    </template>
  </PDialog>
</template>

<script setup lang="ts">
import { ref, onMounted, type PropType } from "vue"
import type { Sale } from "@/types/sale"
import { computed } from "@vue/reactivity"
import { useArticles } from "@/composables/useArticles"
import { usePrices } from "@/composables/usePrices"
import { useSales } from "@/composables/useSales"

const emit = defineEmits(["saved", "update:modelValue", "hide", "update:sale"])
const { articles, loadAllArticles } = useArticles()
const { prices, loadAllPrices } = usePrices()
const { saleSaving, saveSale } = useSales()

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
    default: false,
  },
  noCloseOnSave: {
    type: Boolean,
    default: false,
  },
  sale: {
    type: Object as PropType<Sale>,
    default() {
      return {}
    },
  },
})

onMounted(() => {
  if (!saleInDialog.value.salNo) {
    loadAllArticles()
    loadAllPrices()
  }
})

const saleInDialog = computed<Sale>({
  get() {
    return props.sale
  },
  set(value) {
    emit("update:sale", value)
  },
})
const displayDialog = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(value) {
    emit("update:modelValue", value)
  },
})

function save(sale: Sale): void {
  let dateFrom = new Date(sale.salDateFrom)
  sale.salDateFrom = `${dateFrom.getFullYear()}-${dateFrom.getMonth() + 1}-${dateFrom.getDate()}`
  let dateTo = new Date(sale.salDateTo)
  sale.salDateTo = `${dateTo.getFullYear()}-${dateTo.getMonth() + 1}-${dateTo.getDate()}`
  saveSale(sale)
  if (!props.noCloseOnSave) {
    displayDialog.value = false
  }
}
</script>
<style lang="scss" scoped>
.p-dropdown {
  width: 10rem;
}
</style>
